.list-group-item {
    background-color: #ffffff55;
}

.drag-over {
    border: #ff525b dashed 2px !important;
}
.drag-target-border {
    border: #3500FF dashed 2px !important;
}
.drag-transit {
    border: #3500FF dashed 2px !important;
}